.bg{
    height: auto;
    width: 100%;
    padding:  10px 30px;
    
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 100px;
}
.btn{
    background-color:green;
    width: 100px;

}